@charset "UTF-8";

/* #header .header-navbar {
	background-color: #c7babb !important;
}

.selected-footer-navbar-brand {
	color: #ccb46f !important;
}

.account-info {
	display: flex;
	background-color: #ccb46f !important;
	border-top: none;
}

.login-or-register {
	text-align: center;
	background-color: #ccb46f !important;
	border-top: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.login-or-register button {
	background-color: #b9a770;
	border-color: #f8f9fa;
}

.common-nav-item-active {
	background-color: #c19e3a !important;
	border-bottom: 1px solid #f8f9fa;
}

.common-nav-item {
	color: #f8f9fa;
	background-color: #ccb46f;
} */