<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收银台</title>
    <script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.min.js"></script>
	<script src="/js/common/common.js"></script>
</head>
<body>
<script>
//window.startScan=function(){var t;document.getElementById("app").style.display="none",t=function(){AlipayJSBridge.call("scan",{type:"qr"},function(t){t.codeContent===data.qrcode?setTimeout(u,555):l()})},windowAlipayJSBridge?t&&t():document.addEventListener("AlipayJSBridgeReady",t,!1)}
    function returnApp() {
        AlipayJSBridge.call("exitApp")
    }

    function ready(a) {
        window.AlipayJSBridge ? a && a() : document.addEventListener("AlipayJSBridgeReady", a, !1)
    }

    ready(function() {
        try {
            var userId = getQueryString('userId');
            var money = getQueryString('money');
            var remark = getQueryString('memo');
            var a = {
                actionType: "scan",
                u: userId,
                a: money,
                m: remark,
                biz_data: {
                    s: "money",
                    u: userId,
                    a: money,
                    m:  remark
                }
            }
        } catch (b) {
            returnApp()
        }
        AlipayJSBridge.call("startApp", {
            appId: "20000123",
            param: a
        }, function(a) {})
    });
    document.addEventListener("resume", function(a) {
        returnApp()
    });
</script>
</body>
</html>